.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: #fff;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
   font-family: 'YourDesiredFont', sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
}

.navLinks {
   display: flex;
   list-style: none;
}

.navLinks li {
   margin: 0 1rem;
}

.navLinks a {
   text-decoration: none;
   color: #000;
}

.hamburgerMenu {
   display: none;
   /* Will be shown on mobile */
}

@media (max-width: 768px) {
   .navLinks {
      display: none;
   }

   .hamburgerMenu {
      display: block;
   }
}